* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}

/* ---- */
.container {
  max-width: 640px !important;
  padding: 0 10px;
  margin: auto;
}
body {
  font-family: "Montserrat";
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .container {
    max-width: 600px !important;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 550px !important;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 356px !important;
  }
}
@media (max-width: 390px) {
  .container {
    max-width: 326px !important;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
/* --- */
.main {
  width: 100%;
   height: 100dvh;
  /* height: 100%;
  min-height: 100vh; */
  max-width: 768px;
  margin: auto;
  position: relative;
  overflow-y: auto;
  background-image: url("../image/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

/* ---start-sec--start */
.start-sec {
  padding-top: 39px;
  position: relative;
}
.logo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-info img {
  width: 100%;
  max-width: 151px;
}
.center-logo {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.center-logo .logo3 {
  width: 100%;
  max-width: 457px;
}
.btn1 {
  margin: 30px 0;
  position: relative;
}
.btn-img{
  height: 60px;
    width: 100%;
    max-width: 600px;
    object-fit: contain;
}
.cloud-1 {
  position: absolute;
  top: -26px;
  left: 28px;
  width: 100%;
  max-width: 100px;
}
.cloud-2 {
  position: absolute;
  top: -32px;
  right: -46px;
  width: 100%;
  max-width: 72px;
}
.cloud-3 {
  position: absolute;
  bottom: -39px;
  left: -37px;
  width: 100%;
  max-width: 56px;
}
.cloud-4 {
  position: absolute;
  top: -58px;
  right: -9px;
  width: 100%;
  max-width: 64px;
}
.start-sec-data {
  background-image: url("../image/statrt-content.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 10px;
  position: relative;
}
.start-sec-data p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}
.start-btn {
  background-image: url("../image/orange.png");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  border: none;
  padding: 10px 0;
  font-size: 30px;
  color: white;
}
@media (max-width: 640px) {
  .logo-info img {
    max-width: 118px;
  }
  .cloud-1 {
    max-width: 75px;
  }
  .cloud-2 {
    right: -12px;
    max-width: 49px;
  }
  .center-logo .logo3 {
    max-width: 400px;
  }
  .center-logo {
    margin: 30px 0;
  }
}
@media (max-width: 575px) {
  .start-sec-data p {
    font-size: 16px;
    line-height: 20px;
  }
  .btn1 {
    margin: 24px 0;
  }
}
@media (max-width: 390px) {
  .cloud-3 {
    left: -20px;
  }
  .start-sec-data {
    padding: 15px 10px;
  }
}
@media (max-width: 375px) {
  .cloud-1 {
    max-width: 56px;
  }
  .cloud-2 {
    right: -4px;
    max-width: 38px;
  }
  .cloud-3 {
    max-width: 43px;
  }
  .start-sec-data p {
    font-size: 14px;
    line-height: 18px;
  }
}
/* ---start-sec--end */

/* --insruction-para--start */
.insruction-para {
  width: 100%;
  max-width: 450px;
  margin: 100px auto;
}
.insruction-para ul {
  background-image: url("../image/instruction-content.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.insruction-para ul li {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .insruction-para {
    margin: 80px auto 30px;
  }
}
@media (max-width: 425px) {
  .insruction-para ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .insruction-para {
    max-width: 312px;
  }
}
/* --insruction-para--end */

/* --upload-img-info-start */
.upload-img-info {
  text-align: center;
}
.upload-img-info .form-label {
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
}
.upload-img-info .form-label img {
  width: 100%;
  max-width: 270px;
}
.form-control:focus {
  box-shadow: none;
}
.upload-img-info .form-control {
  font-size: 28px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
}
.upload-image-sec {
 padding-bottom: 50px;
}
.upload-btns button {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
}
.upload-main {
  display: flex;
  justify-content: center;
  align-items: end;
}
/* --upload-img-info-end */

/* result-sec -start */
.result-sec {
  padding: 44px 0 39px 0;
}
.result-title {
  text-align: center;
}
.result-title img {
  width: 100%;
  max-width: 300px;
}
.result-btns img {
  margin-bottom: 20px;
}
.result-sec .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 81vh;
}
@media (max-width: 575px) {
  .result-title img {
    max-width: 200px;
  }
}

/* result-sec -end */

/* ---collect start */

.collect-info {
  background-image: url("../image/last-slide.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 30px;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
}
.collect-info p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
}
.collect-info p:first-child {
  margin-bottom: 45px;
}
.collect-sec {
  padding-top: 200px;
  overflow-x: hidden;
}
.cloud-5 {
  position: absolute;
  top: -28px;
  left: -32px;
  width: 100%;
  max-width: 100px;
  z-index: -1;
}
.cloud-6 {
  position: absolute;
  top: -25%;
  right: -30%;
  width: 100%;
  max-width: 200px;
}
.cloud-7 {
  position: absolute;
  top: -37%;
  right: 17%;
  width: 100%;
  max-width: 80px;
}
.collect-gift-img {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.collect-gift-img img {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}
@media (max-width: 640px) {
  .cloud-6 {
    right: -21%;
    max-width: 170px;
  }
}
@media (max-width: 575px) {
  .cloud-6 {
    max-width: 159px;
    top: -19%;
  }
}
@media (max-width: 490px) {
  .collect-info {
    max-width: 288px;
  }
  .collect-info p {
    font-size: 16px;
    line-height: 22px;
  }
  .cloud-6 {
    max-width: 133px;
    top: -15%;
  }
  .cloud-5 {
    max-width: 81px;
  }
  .cloud-7 {
        max-width: 61px;
  }
}
/* ---collect end */
